span {
  margin-right: 1%;
}

.select-container {
  margin-top: 5%;
}

.option-button {
  margin-left: 2%;
}

#generated {
  overflow: auto;
  flex: 0 1 auto;
}

#button-container {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 auto;
}

#create-button {
  margin-right: auto;
}

#main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
