<div id="main-container">
  <div id="button-container">
    <button id="create-button" type="button" class="btn btn-icon" (click)="showCreation()">
      <clr-icon shape="plus"></clr-icon>
    </button>

    <button type="button" class="btn btn-icon" (click)="showLoad()">
      <clr-icon shape="unarchive"></clr-icon>
    </button>
    <button type="button" class="btn btn-icon" (click)="showSave()">
      <clr-icon shape="floppy"></clr-icon>
    </button>
  </div>

  <div id="generated" [ngClass]="{'drop-shadow': entries.length > 0}">
    <div *ngFor="let entry of entries;let i = index" class="select-container">
      <span>{{entry.label}}</span>
      <div class="clr-select-wrapper">
        <select class="clr-select">
          <option *ngFor="let option of entry.options">{{option}}</option>
        </select>
      </div>
      <button class="btn btn-sm option-button" (click)="showAddOption(i)">Add Option</button>
    </div>
  </div>

  <clr-modal [(clrModalOpen)]="popCreation">
    <h3 class="modal-title">New entry</h3>
    <div class="modal-body">
      <input type="text" placeholder="Label" class="clr-input" [(ngModel)]="label">
    </div>
    <div class="modal-footer">
      <button class="btn btn-outline" type="button" (click)="newEntry(false)" [disabled]="!(label.length > 0)">Apply</button>
      <button class="btn btn-outline" type="button" (click)="cancel()">Cancel</button>
      <button class="btn btn-primary" type="button" (click)="newEntry(true)" [disabled]="!(label.length > 0)">Ok</button>
    </div>
  </clr-modal>

  <clr-modal [(clrModalOpen)]="popAddOption">
    <h3 class="modal-title">New entry</h3>
    <div class="modal-body">
      <input type="text" placeholder="Label" class="clr-input" [(ngModel)]="option">
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" (click)="newOption(false)" [disabled]="!(option.length > 0)">Apply</button>
      <button class="btn btn-outline" type="button" (click)="cancelAddOption()">Cancel</button>
      <button class="btn btn-primary" type="button" (click)="newOption(true)" [disabled]="!(option.length > 0)">Ok</button>
    </div>
  </clr-modal>

  <clr-modal [(clrModalOpen)]="popSave" [clrModalSize]="'sm'">
    <h3 class="modal-title">Save Template</h3>
    <div class="modal-body">
      <input type="text" placeholder="Label" class="clr-input" [(ngModel)]="fileName">
    </div>
    <div class="modal-footer">
      <button class="btn btn-outline" type="button" (click)="cancelSave()">Cancel</button>
      <button class="btn btn-primary" type="button" (click)="save()">Ok</button>
    </div>
  </clr-modal>

  <clr-modal [(clrModalOpen)]="popLoad" [clrModalSize]="'sm'">
    <h3 class="modal-title">Load Template</h3>
    <div class="modal-body">
      <div style="margin: 10px;">
        <span>Select </span>
        <div class="clr-select-wrapper">
          <select class="clr-select" [(ngModel)]="selected">
            <option *ngFor="let file of fileList" value="{{file}}">{{file}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-outline" type="button" (click)="cancelLoad()">Cancel</button>
      <button class="btn btn-primary" type="button" (click)="load()">Ok</button>
    </div>
  </clr-modal>
</div>
