<div style="width: 100%;height: 100%;display: flex">
  <div class="semicontainer" style="display: flex;flex-direction: column;align-content: space-evenly">

    <div routerLink="/designer" class="card clickable" style="width: 45vmin;height: 45vmin;margin: 3vmin auto 1.5vmin">
      <div class="card-img" style="width: 75%;height: 75%;margin: 0 auto;">
        <img src="assets/design.svg">
      </div>
      <div class="card-block" style="text-align: center">
        <strong>DESIGNER</strong>
      </div>
    </div>

    <div routerLink="/builder" class="card clickable" style="width: 45vmin;height: 45vmin;margin: 1.5vmin auto 3vmin;">
      <div class="card-img" style="width: 75%;height: 75%;margin: 0 auto;">
        <img src="assets/design.svg">
      </div>
      <div class="card-block" style="text-align: center">
        <strong>BUILDER</strong>
      </div>
    </div>
  </div>


  <div class="semicontainer">
    <router-outlet></router-outlet>
  </div>

</div>
