.select-container {
  padding-top: 5%;
}

.option-button {
  padding-left: 2%;
}

table {
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  font-size: 2vw;
}

td {
  padding: 1em;
  text-align: center;
}

#page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#table-container {
  padding: 1vh 1vw;
  display: flex;
  justify-content: center;
  overflow: auto;
}

#button-container {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 auto;
}

.clr-select-wrapper {
  padding-left: 1.5em;
}

#generated {
  overflow: auto;
  flex: 0 1 auto;
}
