/* You can add global styles to this file, and also import other style files */
html, body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: .25em;
}

::-webkit-scrollbar-thumb {
  background: #0079b8;
}

::-webkit-scrollbar-thumb:hover {
  background: #004a70;
}
